# Devnagri Configuration
DEVNAGRI_WS_URL=
BUFFER_SIZE = 65

# Teler Configuration
TELER_API_KEY=

# Server Configuration
NODE_ENV=production
SERVER_DOMAIN= # dynamically fetched
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Logging
LOG_LEVEL=INFO

# Ngrok Configuration
NGROK_AUTHTOKEN=
